.wrapper {
  .fileLabel {
    display: flex;
    flex-direction: column;
  }

  .fileName {
    font-size: 14px;
    border: 1px solid #dbdbdb;
    padding: 10px 13px;
    border-radius: 4px 0 0 4px;
    width: 100%;
    line-height: 16px;
    letter-spacing: 0.2px;
    word-spacing: 0.4px;
  }

  .placeholder{
    color: #b2b9c0;
  }

  .fileBtn {
    font-size: 14px;
    border: solid #dbdbdb;
    padding: 11px 15px;
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 0;
    color: black;
    background-color: #f8f7f5;
  }

  .fileGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    cursor: pointer;
  }

  .errorMessage {
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #ef5b4c;
  }
}