$maxWidthApp: 2560px;
$minWidthApp: 360px;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

/**
 * Сброс стилей у кнопки.
*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.wrapper {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    height: 40px;
    width: 100%;

    background-color: white;

    position: fixed;

    .logo {
      padding-left: 15px;
      height: 18px;
    }

    .navigation {
      padding-right: 15px;
      height: 15px;
    }
  }

  .banner {
    height: 400px;

    padding-top: 40px;

    background-image: url("../../Assets/banner-photo.jpg");
    background-size: cover;
    background-position: top;

    color: white;

    text-align: center;

    .title {
      letter-spacing: -0.3px;
      word-spacing: 1px;

      text-transform: uppercase;
      padding: 70px 25px 20px 25px;
    }

    .content {
      padding: 0px 15px;
      margin-top: -1px;
      margin-left: 1px;
    }

    button {
      margin: 24px;
      padding: 11px 58px;
      border-radius: 4px;
      word-spacing: 1px;
      background-color: #ef5b4c;
    }

    button:hover {
      background-color: #d24335;
    }
  }

  .about {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 861px;

    h2 {
      padding-top: 77px;
      padding-bottom: 36px;
      font-size: 30px;

      letter-spacing: -0.3px;
      word-spacing: 0.5px;
    }

    h3 {
      padding-top: 38px;
      padding-bottom: 22px;
      font-size: 24px;
    }

    p {
      padding-left: 15px;
      padding-bottom: 24px;
      padding-right: 15px;
      word-spacing: -0.7px;
      text-align: justify;
    }

    img {
      width: 289px;
    }

    button {
      color: #ef5b4c;
      padding: 9px 58px;
      font-weight: bold;
      letter-spacing: 0.2px;
      word-spacing: 0.1px;
    }

    button:hover {
      color: #d24335;
    }
  }

  .users {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 77px;
    padding-bottom: 56px;
    background-color: #f9f9f9;

    h2 {
      font-size: 30px;
    }

    .message {
      margin: 12px;
    }

    .userList {
      .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;

        img {
          margin: 24px 0px 0px 0px;
        }

        .info {
          text-align: center;
          padding: 0 50px;

          .name {
            font-size: 24px;
            line-height: 29px;
            padding: 15px 18px 10px 18px;

          }

          .details {
            padding: 0px 15px;
          }
        }
      }
    }

    button {
      margin: 23px;
      padding: 11px 61px;
      border-radius: 4px;
      letter-spacing: 0.2px;
      word-spacing: 0.5px;
      background-color: #ef5b4c;
      color: white;
    }

    button:hover {
      background-color: #d24335;
    }
  }

  .register {
    h2 {
      font-size: 28.5px;
      line-height: 29px;
      letter-spacing: 0.7px;
      padding-left: 1px;
    }

    p {
      padding: 21px 15px;
      text-align: center;
      line-height: 22px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 13px;
      font-size: 14px;

      label {
        padding-bottom: 20px;
        word-spacing: 1px;
        letter-spacing: 0.2px;
      }

      input {
        width: 100%;
        margin-top: 12px;
        margin-bottom: 6px;
        border: 1px solid #ced4da;
        padding: 10px 10px 9px 12px;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 15px;
        letter-spacing: 0.2px;
      }

      span {
        font-size: 10px;
        color: #a5abb0;
      }

      .inputPosition {
        display: flex;
        flex-direction: column;
        padding-top: 7px;

        h3{
          letter-spacing: 0.3px;
          margin-bottom: 23px;
        }

        .container{
          display: block;
          position: relative;
          padding-left: 24px;
          padding-bottom: 14px;
          cursor: pointer;
          font-size: 16px;
          letter-spacing: -0.9px;
          user-select: none;

          input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
        }
        .checkMark{
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background-color: #eee;
        }

        .container:hover input ~ .checkMark {
          background-color: #ccc;
        }

        .container input:checked ~ .checkMark {
          background-color: #007bff;
          border: none;
        }

        .checkMark:after {
          content: "";
          position: absolute;
          display: none;
        }

        .container input:checked ~ .checkMark:after {
          display: block;
        }

        .container .checkMark:after {
          top: 5px;
          left: 5px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: white;
        }
      }
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 79px;
    padding: 0 15px;


  }
}



