$maxWidthApp: 2560px;
$minWidthApp: 360px;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

/**
 * Сброс стилей у кнопки.
*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    height: 40px;
    width: 100%;

    background-color: white;

    position: fixed;

    .logo {
      padding-left: 15px;
      height: 18px;
    }

    .navigation {
      padding-right: 15px;
      height: 15px;
    }
  }

  .banner {
    height: 400px;

    padding-top: 40px;

    background-image: url("../../Assets/banner-photo.jpg");
    background-size: cover;
    background-position: top;

    color: white;

    text-align: center;

    .title {
      letter-spacing: -0.3px;
      word-spacing: 1px;

      text-transform: uppercase;
      padding: 70px 25px 20px 25px;
    }

    .content {
      padding: 0px 15px;
      margin-top: -1px;
      margin-left: 1px;
    }

    button {
      margin: 24px;
      padding: 11px 58px;
      border-radius: 4px;
      word-spacing: 1px;
      background-color: #ef5b4c;
    }

    button:hover {
      background-color: #d24335;
    }
  }

  .about {
    align-items: center;
    display: flex;
    flex-direction: column;

    h2{
      padding-top: 77px;
      padding-bottom: 35px;
      font-size: 30px;

      letter-spacing: -0.3px;
      word-spacing: 0.5px;
    }

    h3{
      padding-top: 38px;
      padding-bottom: 22px;
      font-size: 24px;
    }

    p {
      padding-left: 15px;
      padding-bottom: 24px;
      padding-right: 15px;
      letter-spacing: -0.2px;
      word-spacing: 0.6px;
      text-align: justify;
    }

    img{
      width: 289px;
    }

    button{
      color: #ef5b4c;
      padding: 9px 58px;
      font-weight: bold;
      letter-spacing: 0.2px;
      word-spacing: 0.1px;
    }

    button:hover{
      color: #d24335;
    }
  }
}



