.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  .title {
    margin-top: 77px;
    margin-bottom: 36px;
    font-size: 30px;

    letter-spacing: -0.3px;
    word-spacing: 0.5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutImg {
      width: 289px;
    }

    .article {
      text-align: center;

      .articleTitle {
        margin-top: 38px;
        margin-bottom: 22px;
        font-size: 24px;
        text-align: center;
      }

      .text {
        margin-bottom: 24px;
        word-spacing: -0.7px;
        text-align: justify;
      }
    }
  }

  .btnSignUpNow {
    color: #ef5b4c;
    margin-top: 9px;
    font-weight: bold;
    letter-spacing: 0.2px;
    word-spacing: 0.1px;
    margin-bottom: 78px;
  }

  .btnSignUpNow:hover {
    color: #d24335;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    .title {
      margin-top: 120px;
      margin-bottom: 78px;
      font-size: 40px;
      letter-spacing: -0.5px;
      word-spacing: 0.5px;
    }

    .content {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .aboutImg {
        width: 248px;
        padding-top: 1px;
      }

      .article {
        width: 65%;
        margin-left: 30px;
        text-align: left;

        .articleTitle {
          margin-top: 0;
          text-align: left;
        }
      }

      .btnSignUpNow {
        margin-bottom: 118px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    .title {
      margin-top: 165px;
      font-size: 50px;
      letter-spacing: -1px;
      word-spacing: 2.7px;
    }

    .content {
      .aboutImg {
        width: 340px;
        padding-left: 24px;
        padding-top: 5px;
      }

      .article{
        margin-left: 50px;
        margin-top: 4px;
      }

      .btnSignUpNow {
        margin-bottom: 157px;
      }
    }
  }
}