.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 78px;
  padding: 0 15px;

  .title {
    font-size: 28.5px;
    line-height: 29px;
    letter-spacing: 0.7px;
    padding-left: 1px;
  }

  .desc {
    margin: 21px 15px;
    text-align: center;
    line-height: 22px;

  }

  .registerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 13px;
    font-size: 14px;

    label {
      margin-bottom: 20px;
      word-spacing: 1px;
      letter-spacing: 0.2px;
    }

    input {
      width: 100%;
      margin-top: 12px;
      margin-bottom: 6px;
      border: 1px solid #ced4da;
      padding: 10px 10px 9px 12px;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 15px;
      letter-spacing: 0.2px;
    }

    span {
      font-size: 11px;
      letter-spacing: -0.3px;
      color: #a5abb0;
    }

    .inputPosition {
      display: flex;
      flex-direction: column;
      margin-top: 7px;
      margin-bottom: 12px;

      .positionTitle {
        letter-spacing: 0.3px;
        margin-bottom: 23px;
      }

      .container {
        display: block;
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        font-size: 16px;
        letter-spacing: -0.8px;
        user-select: none;
        word-spacing: 0.5px;
        margin-bottom: 14px;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
      }

      .checkMark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid #d9d2d2;
      }

      //.container:hover input ~ .checkMark {
      //  background-color: #ccc;
      //}

      .container input:checked ~ .checkMark {
        background-color: #007bff;
        height: 16px;
        width: 16px;
        border: none;
      }

      .checkMark:after {
        content: "";
        position: absolute;
        display: none;
      }

      .container input:checked ~ .checkMark:after {
        display: block;
      }

      .container .checkMark:after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
      }
    }

    .file {
      .fileLabel {
        display: flex;
        flex-direction: column;
      }

      .fileInput {
        display: none;
      }

      .fileName {
        font-size: 14px;
        border: 1px solid #dbdbdb;
        padding: 10px 13px;
        border-radius: 4px 0 0 4px;
        width: 100%;
        line-height: 16px;
        letter-spacing: 0.2px;
        word-spacing: 0.4px;
      }

      .fileBtn {
        font-size: 14px;
        border: solid #dbdbdb;
        padding: 11px 15px;
        border-radius: 0 4px 4px 0;
        border-width: 1px 1px 1px 0;
        color: black;
        background-color: #f8f7f5;
      }

      .fileGroup {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        cursor: pointer;
      }
    }

    .btnSubmit {
      margin: 20px auto;
      padding: 11px 58px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-top: 118px;
    .title {
      font-size: 38px;
      word-spacing: 1px;
      padding-left: 9px;
    }

    .desc {
      margin: 27px 140px 21px 148px;
    }

    .registerForm {
      width: 63%;
      padding-left: 8px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {

    .title {
      font-size: 50px;
      line-height: 50px;
      word-spacing: 0;
      padding-left: 0;
      letter-spacing: 0;
    }

    .desc {
      width: 45%;
      margin: 20px 0;
      line-height: 24px;
    }

    .registerForm {
      width: 47%;
      padding-left: 0;

      label {
        margin-bottom: 20px;

        span {
          font-size: 12px;
        }
      }

      .btnSubmit {
        margin: 21px auto;
      }
    }
  }
}