.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 78px;
  padding: 0 15px;

  .title {
    font-size: 28.5px;
    line-height: 29px;
    letter-spacing: 0.7px;
    padding-left: 1px;
  }

  .desc {
    margin: 21px 15px;
    text-align: center;
    line-height: 22px;

  }

  .registerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 13px;
    font-size: 14px;

    .inputPosition {
      display: flex;
      flex-direction: column;
      margin-top: 7px;
      margin-bottom: 12px;

      .positionTitle {
        letter-spacing: 0.3px;
        margin-bottom: 23px;
      }
    }

    .btnSubmit {
      margin: 20px auto;
      padding: 11px 58px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-top: 118px;
    .title {
      font-size: 38px;
      word-spacing: 1px;
      padding-left: 9px;
    }

    .desc {
      margin: 27px 140px 21px 148px;
    }

    .registerForm {
      width: 63%;
      padding-left: 8px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {

    .title {
      font-size: 50px;
      line-height: 50px;
      word-spacing: 0;
      padding-left: 0;
      letter-spacing: 0;
    }

    .desc {
      width: 45%;
      margin: 20px 0;
      line-height: 24px;
    }

    .registerForm {
      width: 47%;
      padding-left: 0;

      label {
        margin-bottom: 20px;
      }

      .btnSubmit {
        margin: 21px auto;
      }
    }
  }
}