.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  background-color: #323231;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;

  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}