.wrapper {
  background-image: url("../../assets/banner-photo.jpg");
  background-size: cover;
  background-position: 52% 50%;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 70px 0;

  .title {
    letter-spacing: -0.3px;
    word-spacing: 1px;
    text-transform: uppercase;
    width: 85%;
    margin-bottom: 4px;
  }

  .text {
    width: 95%;
    margin: 15px 0;
    font-weight: 300;
    letter-spacing: 0.3px;
    word-spacing: 0.1px;

    .crop {
      display: none;
    }
  }

  .btnOuter{
    margin-top: 9px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-size: 133.7%;
    background-position: left top;

    align-items: flex-start;
    text-align: left;

    padding: 58px 30px;

    .title {
      font-size: 39px;
      line-height: 44px;
      width: 60%;
      letter-spacing: 0.3px;
      word-spacing: 0;
    }

    .text {
      width: 65%;
      margin: 25px 0;

      .crop {
        display: inline;
      }
    }

    .btnOuter {
      margin-bottom: 7px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding: 107px 30px;

    .title {
      font-size: 50px;
      line-height: 54px;
      width: 55%;
      letter-spacing: -0.7px;
      word-spacing: 2px;
      margin-bottom: 6px;
    }

    .text {
      margin: 19px 0;
      width: 55%;
      word-spacing: 0;
    }

    .btnOuter {
      margin-bottom: 7px;
      margin-top: 15px;
    }
  }
}